/*-------Specials Area--------*/
.specials-container {
    grid-column: 1/13;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 450px;
}


.specials-header {
    grid-column: 3/10;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specials-header h1 {
    font-family: 'Markazi Text';
    font-size: 64px;
    font-weight: 500;
    color: #333333;
    text-shadow: 1px 1px 4px #333333;
    margin-left: 80px;
    margin-top: 90px;
}

.specials-header button {
    width: 230px;
    height: 70px;
    margin: 70px 80px 15px 0;
    background-color: #F4CE14;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #333333;
    font-family: 'Karla';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    color: #333333;
}

.specials-cards {
    grid-column: 3/10;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.specials-card-1,
.specials-card-2,
.specials-card-3 {
    width: 300px;
    height: 430px;
    background-color: #EDEFEE;
    border-radius: 16px;
    box-shadow: 1px 1px 6px #333333;
}

.specials-card-2 {
    margin: 0 25px;
}

.specials-card-1 img,
.specials-card-2 img,
.specials-card-3 img {
    width: 300px;
    height: 200px;
    border-radius: 16px 16px 0 0;
}

.specials-card-content-1,
.specials-card-content-2,
.specials-card-content-3 {
    width: auto;
    height: 53%;
    padding: 0 10px;
    margin-top: -6px;
}

.specials-card-content-1 h2,
.specials-card-content-2 h2,
.specials-card-content-3 h2 {
    margin-top: 10px;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}

.specials-card-content-1 label,
.specials-card-content-2 label,
.specials-card-content-3 label {
    font-family: 'Karla';
    font-size: 20px;
    font-weight: 800;
    color: #EE9972;
    float: right;
}

.specials-card-content-1 p,
.specials-card-content-2 p,
.specials-card-content-3 p {
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

.specials-card-content-1 h3,
.specials-card-content-2 h3,
.specials-card-content-3 h3 {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.specials-card-1 a,
.specials-card-2 a,
.specials-card-3 a {
    text-decoration: none;
    color: #F4CE14;
}


/*-------Testimonials Area--------*/
.testimonials-container {
    grid-column: 1/13;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #495E57;
}

.testimonials-container h1 {
    font-family: 'Markazi Text';
    font-size: 64px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 2px 2px 4px #333333;
}

.testimonials-card-container {
    display: flex;
    margin-top: 30px;
}

.testimonials-card-1,
.testimonials-card-2,
.testimonials-card-3,
.testimonials-card-4 {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding: 10px;
    background-color: #EDEFEE;
    box-shadow: 2px 2px 10px #333333;
}

.rate {
    font-size: 18px;
    color: #F4CE14;
    text-shadow: 0px 0px 4px #333333;
    margin-bottom: -10px;
}

.testimonials-photo-text-container {
    display: flex;
    align-items: center;
}

.testimonials-card-container img {
    width: 100px;
    margin-right: 10px;
    border-radius: 16px;
}

.testimonials-photo-text-container label {
    font-family: 'Karla';
    font-size: 14px;
    font-weight: 700;
}

.testimonials-review p {
    width: auto;
    height: auto;
    font-family: 'Karla';
    font-size: 16px;
}


/*-------About Area--------*/
.about-container {
    grid-column: 1/13;
    grid-row: 5/6;
    width: 965px;
    height: 480px;
    margin: auto;
    display: flex;
}

.about-content-text {
    width: 45%;
    height: 100%;
    margin-right: auto;
}

.about-content-text h1 {
    font-family: 'Markazi Text';
    font-size: 64px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #333333;
    color: #333333;
    margin-top: 65px;
    margin-bottom: 0;
}

.about-content-text h2 {
    font-family: 'Markazi Text';
    font-size: 40px;
    font-weight: 400;
    text-shadow: 2px 2px 4px #333333;
    color: #333333;
    margin-top: -25px;
}

.about-content-text p {
    width: auto;
    height: auto;
    font-family: 'Karla';
    font-size: 18px;
    color: #333333;
    margin-top: 50px;
}

.about-img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-img img {
    width: 300px;
    box-shadow: 2px 2px 10px #333333;
}

.about-img-a {
    align-self: flex-end;
    position: relative;
    top: 40px;
    z-index: 1;
}

.about-img-b {
    position: relative;
    bottom: 30px;
}
