
/*.Nav {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row: 1/2;
  width: 100vw;
  border: 1px solid red;
}

header{
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 2;
  border: 1px solid black;
}

main{
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 3;
  border: 1px solid black;
}

footer{
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 4;
  border: 1px solid black;
}*/